// @import "base/base";

// @import "variables/variables";


// @import "components/footer";
// @import "components/header";
// @import "components/body";
@import "components/movie";
@import "components/movieInfo";
@import "components/queries";



*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



//button
$color1: #EE283E;
$color2: #1F3944;
$color3: white;


// #E3AFBC
// #9A1750
// #EE4C7C



// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Oswald', sans-serif;


html {
	font-size: 62.5%;
}


.hero-box {
	// opacity: 0.6;

	// display: flex;

}

.input-field {

}

.row {
	display: flex;
	justify-content: center;
	// align-items: stretch;
	// align-content: stretch;
}

.row2 {
	margin-top: 1rem;
}


.submit {
	outline: none;
	padding: 0.5rem;
	position: relative;

	button {
		padding: 1rem;

	}
}


// .search-button {
// 	position: absolute;
// 	bottom: 2.07rem;
// 	border-radius: 5rem;
// 	border: none;
// 	background-color: transparent;
// 	height: 0.8rem;
// 	cursor: pointer;

// 	&:focus {
// 		outline: none;
// 	}

// 	&:active {
// 		transform: translateY(0.2rem);
// 	}

// 	&__searchIcon {
// 	height: 2rem;
// 	width: 2rem;
	
// 	}	

// }



.searchForm {
	width: 30%;
	min-width: 10rem;
}

.input-field input[type="text"] {
	// background: $color-white;
	// outline: none;
	// border: none;
	// background-color: $color-light;
	// padding: 1rem 1rem 1rem 3rem;

	// width: 100%;
	// border-radius: 4rem;
	// text-decoration: none;
	// padding-left: 4rem;
	// border-bottom: 0.2rem;
	border: none;
	border-bottom: 0.1rem solid white;
	border-color: white;
	width: 100%;
	outline: none;
	background-color: transparent;
	margin-bottom: 5rem;

	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: white;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	padding: 7rem 0rem 0.8rem 0.8rem;

}

span {
	color: white;
}

//DISPLAY NONE ON DISCOVER BUTTON

.discover {
	padding: 0.5rem 0.5rem 0.7rem 0.5rem;
	margin-top: 1rem;
	margin-left: 1rem;
	position: static;
	// background-color: rgba(0, 252, 135, 1);
	border-radius: 0.3rem;
	order: 5;
	


	&__button {
		width: 10rem;
		border-radius: 1rem;
		font-size: 1.5rem;
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		background-color: transparent;
		cursor: pointer;
		color: white;

		&:focus {
			outline: none;
		}
	}
}


.searchTerm {
	color: black;
	border-radius: 1rem;
	border: 0.2rem solid $color-white;
	height: 2rem;
	width: 20%;
	display: flex;
	// justify-content: center;
}



.page-numbers {
	display: flex;
	justify-content: center;
}

.pagination-links {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	justify-content: center;
	font-size: 1.5rem;
	margin-bottom: 2rem;

	margin: 1rem;	
	color: white;

	color: white;
	text-decoration: none;

	li {
		margin: 1rem;	
		color: white;

		a {
			color: white;
			text-decoration: none;
		}
	}
}


.directional-buttons {
	text-decoration: none;
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
	
}

.dirButtons {
	text-decoration: none;
	display: inline-block;
	padding: 0.2rem 3rem;
	font-size: 2rem;
	border: 0rem;
	border-radius: 50%;
	background-color: transparent;
	color: white;
	cursor: pointer;
	outline: none;
}

// button:focus {
// 	outline: 0;
// }



.active-page a {
	color: red !important;
}


body {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	background: #000;
	color: #fff;


	background-image: linear-gradient(
	to right bottom,
		rgba(0,0,0, 0.85),
		rgba(0,0,0, 0.2)),
	url('../img/imageTheatre.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90%;
}



@media only screen and (max-width: 1200px) {
	.searchForm {
		width: 50%;
	}

	.containerInfo {
		width: 90%;
	}

	.movieInfo {
		width: 700px;
		font-size: 10px;
	}
}

@media only screen and (max-width: 1023px) {
	.searchForm {
		width: 60%;
	}
}

@media only screen and (max-width: 767px) {
	.searchForm {
		width: 60%;
	}

	.icon-picture {
		width: 3rem;
	}
}

@media only screen and (max-width: 480px) {
	.searchForm {
		width: 60%;
	}

	.icon-picture {
		width: 2.5rem;
	}
}