$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$font1: "Robot Condensed", sans-serif;
$font2: "Oswald", sans-serif;

$color-dark: #5D001E;
$color-light: #E3E2DF;

$red-dark: #9A1750;
$red-light:#EE4C7C;