

.container {
	padding-top: 2rem;
	padding-right: 3rem;
	position: relative;
	display: inline-block;
	// margin-right: 3rem;
}

.drop-down {
	font-size: 4.5rem;
	background-color: transparent;
	border: none;
	color: white;
	position: fixed;
	right: 0;
	// padding-top: 2rem;
  margin-right: 5rem;
  outline: none;
	
}

.dropdown {
  position: absolute;
  top: 7rem;
  right: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
  color: black;
  text-align: center;
  margin-right: 7.8rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  // padding-left: 3rem;
}
li {
  padding: 0.8rem 1.2rem;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}