@import '../variables/variables';


.movie-thumbnail {
	border-radius: 0.5rem;
	border: 1px solid #fff;
	align-self: stretch;
	max-height: 28rem;
	min-height: 28rem;
	min-width: 18.33rem;
	max-width: 18.333rem;
	cursor: pointer;

}

img .movie-thumbnail {
	max-height: 2.8rem;
}


.movieHeader {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-align: center;
	word-wrap: break-word;
	padding-top: 0.5rem;
}

.button-discover {
	color: blue;
	width: 100px;
}

.movie-container {
	margin-bottom: 10rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	min-width: 20rem;
}


.movie-card {
	margin: 7rem;
	max-width: 18.5rem;
	max-height: 23rem;
}



// flex-direct: row, row-reverse, column-reverse
// justify-content: center, space-between, space-around, space-evenly, flex-end (default)
// align-items: center, flex-start, flex-end, stretch, baseline, 
// align-self: flex-end, flex-start, stretch
// order: -1, etc (lowest number starts first, highest goes to the end)