
.movieInfo-container {
	height: 100%;
	min-height: 100%;
}

.movieInfo {
	margin: 3rem;
}

h1.movieInfo-header {
		font-size: 3rem;
	}

.row-info {
	padding-top: 2rem;
	position: relative;
}

.containerInfo {
	border-radius: 0.5rem;
	max-width: 65%;
	// max-height: 51.3rem;
	// max-height: 100vh;
	vertical-align: middle;
	box-shadow: 0.3rem 0.3rem 10rem 0.5rem black;
}

.info {
	font-size: 1.7rem;
	font-family: Raleway;
	font-weight: 300;
	margin-bottom: 3rem;
	color: white;

}

.infoTitle {
	margin-bottom: 0.5rem;
	color: #00FC87
}

// .row {
// 	height: 100%;
// }

.developer {
	z-index: 99;
	position: relative;
	color: white;
	float: bottom;
	margin: 0 auto;
	text-align: center;

	&--text  {
		font-size: 2rem;
		color: gray;
		font-size: 1.3rem;
		font-family: "Roboto Condensed", Sans-serif;
		font-weight: 300;
		text-shadow: 1px 1px 1px #000;

	}

	&--svgs {
		padding: 1rem;

		a {
			.svg {
				padding: 1rem;
				fill: #00FC87;
			}
		}
		
	}
}


.container h1 {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: 5rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
	color: white;
}

.backdrop {
	position: absolute;
	height: 100%;
	min-height: 100%;
	width: 100%;
	background-size: 100%;
	background-position: fixed;
	background-image:
	 linear-gradient(
		 rgba(0,0,0,.80) 15%,
		 rgba(0,0,0,.1) 40%,
		 #000 90%
	);

	&--movieBackground {
		position: relative;
		display: inline-block;
		z-index: -2;
		width: 100%;
		height: 99vh;
		max-width: 100%;
		max-height: 100vh;
		margin: auto;

	}
}

img .backdrop--movieBackground {
		background-image: linear-gradient(
		to right bottom,
			rgba(0,0,0, 0.85),
			rgba(0,0,0, 0.2));
}


.containerInfo {
	// margin-top: 10rem;
	position: relative;
	background-color: #0B0C10;
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 6rem auto;

	&--picture img {
		border-radius: 0.2rem;
	// 	width: 34.2rem;
	// height: 51.3rem;
		
	}
}

.no-image img {
	
}

 
.container {
	font-size: 2rem;
}
 
.goback {
	z-index: 10;
}

.goback {
	display: flex;
	justify-content: flex-end;
}

.exit {
	z-index: 10;
	padding: 1rem;
}

.exit-svg {
	cursor: pointer;
	fill: #fff;
	z-index: 10;
}

.exit-svg:hover {
	transition: 0.3s;
	transform: rotate(90deg);
}

.discoverbtn {
	padding-top: 1.3rem;
	fill: #00FC87;
	cursor: pointer;
}



.icon-picture {
	width: 4rem;
	// height: auto;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	filter: invert(100%) sepia(5%) saturate(7485%) hue-rotate(290deg) brightness(108%) contrast(102%);
	
}

.icon-picture:hover {
	animation: shake 0.7s 1ms;
}
@keyframes shake {
	0%{
		transform: translate(0rem,0rem) rotate(0deg);
	}
	25%{
		transform: translate(0.1rem,0.1rem) rotate(1deg);
	}
	50%{
		transform: translate(-0.1rem,-0.1rem) rotate(-1deg);
	}
	75%{
		transform: translate(0.2rem,-0.1rem) rotate(2deg);
	}
	100%{
		transform: translate(-0.1rem,0.1rem) rotate(-1deg);
	}
}

.btn-genre {
	border: none;
	padding: 0rem 1rem 0rem 1rem;
	margin: 0rem;
	cursor: pointer;
	background-color: rgba(76, 252, 0, 0);

}

// .btn-genre:hover {
// 	animation: shake 0.6s infinite;
// }
// @keyframes shake {
// 	0%{
// 		transform: translate(0rem,0rem) rotate(0deg);
// 	}
// 	25%{
// 		transform: translate(0.1rem,0.1rem) rotate(1deg);
// 	}
// 	50%{
// 		transform: translate(-0.1rem,-0.1rem) rotate(-1deg);
// 	}
// 	75%{
// 		transform: translate(0.2rem,-0.1rem) rotate(2deg);
// 	}
// 	100%{
// 		transform: translate(-0.1rem,0.1rem) rotate(-1deg);
// 	}
// }

.btn-genre:focus {
	outline: none;
} 

@media only screen and (max-width: 1900px) {

	.containerInfo {
		width: 100%;
	}

	p.info {
		font-size: 1.5rem;
	}

	.container {
		width: 100%;
		// font-size: 2rem;
	}

	h1.movieInfo-header {
		font-size: 3rem;
	}

	.movieInfo {
		width: 500px;
	}
}



// @media only screen and (max-width: 1600px) {

// 	.containerInfo {
// 		width: 100%;
// 		max-width: 50%;
// 	}

// 	p.info {
// 		font-size: 1.3rem;
// 	}

// 	.container {
// 		width: 100%;
// 		// font-size: 2rem;
// 	}

// 	h1.movieInfo-header {
// 		font-size: 3rem;
// 	}

// 	.movieInfo {
// 		width: 500px;
// 	}
// }

// @media only screen and (max-width: 1400px) {

// 	.containerInfo {
// 		width: 100%;
// 		max-width: 60%;
// 		display: flex;
// 	}

// 	p.info {
// 		font-size: 1.5rem;
// 	}

// 	.container {
// 		width: 100%;
// 		// font-size: 2rem;
// 	}

// 	.movieInfo {
// 		width: 500px;
// 	}
// }

// @media only screen and (max-width: 1200px) {

// 	.containerInfo {
// 		width: 90%;
// 		font-size: 10px;
// 		max-width: 70%;
// 	}

// 	p.info {
// 		font-size: 1.4rem;
// 	}
	
// 	.h1 {
// 		font-size: 20px;
		
// 	}

// 	.container {
// 		width: 100%;
// 		font-size: 1.5rem;
// 	}

// 	.movieInfo {
// 		width: 500px;
// 	}
// }

// @media only screen and (max-width: 950px) {


// 	.containerInfo {
// 		width: 90%;
// 		font-size: 10px;
// 		max-width: 60%;
// 		max-height: 90%;
// 		margin-top: -2rem;
// 		display: flex;
// 		align-items: center;
// 		flex-wrap: wrap;
// 		// height: 30rem;
// 		// display: flex;
// 		// justify-content: space-around;
// 		// align-content: center;
// 	}

// 	p.info {
// 		font-size: 1.3rem;
// 	}
	
// 	.movieInfo-header {
// 		font-size: 10px;
// 	}

// 	.container {
// 		width: 100%;
// 		font-size: 2rem;
// 		height: 100%;
// 		text-align: center;
		
// 	}
	
// 	.no-Image img {
// 		width: 100%;
// 	}

// 	.movieInfo-image {
// 		width: 200px;
// 		height: auto;
// 	}

// 	.developer {
// 	z-index: 99;
// 	position: relative;
// 	color: white;
// 	float: bottom;
// 	margin: 0 auto;
// 	text-align: center;

// 	&--text  {
// 		font-size: 1rem;
// 		color: gray;
// 		font-size: 1.2rem;
// 		font-family: "Roboto Condensed", Sans-serif;
// 		font-weight: 300;
// 		text-shadow: 1px 1px 1px #000;

// 	}

// 	&--svgs {
// 		padding: 1rem;

// 		a {
// 			.svg {
// 				padding: 0.4rem;
// 				fill: #00FC87;
// 				width: 2rem;

// 			}
// 		}
		
// 	}
// }

// }


// @media only screen and (max-width: 650px) {

// 	.backdrop {
// 		min-height: 100%;
// 		height: 100%;
// 		width: auto;
// 		background-size: cover;
// 	}

// 	.containerInfo {
// 		width: 100%;
// 		margin-top: -2rem;
// 		font-size: 10px;
// 		max-width: 60%;
// 		max-height: 100vh;
// 		display: flex;
// 		align-items: center;
// 		flex-wrap: wrap;
// 		// height: 30rem;
// 		// display: flex;
// 		// justify-content: space-around;
// 		// align-content: center;
// 	}

// 	p.info {
// 		font-size: 1.2rem;
// 	}
	
// 	.movieInfo-header {
// 		font-size: 1.5rem;
// 	}

// 	.container {
// 		width: 100%;
// 		font-size: 1.5rem;
// 		height: 100%;
// 		text-align: center;
		
// 	}
	
// 	.movieInfo-image {
// 		width: 200px;
// 		// padding-top: 1rem;
// 		margin-top: 1rem;
// 		height: auto;
// 	}

// }

// @media only screen and (max-width: 570px) {

// 	.backdrop {
// 		// height: 100%;
// 		// min-height: 100%;
// 		width: auto;
// 		background: cover;
// 	}

// 	.containerInfo {
// 		width: 100%;
// 		margin-top: -2rem;
// 		font-size: 10px;
// 		max-width: 60%;
// 		max-height: 100%;
// 		display: flex;
// 		align-items: center;
// 		flex-wrap: wrap;
// 		// height: 30rem;
// 		// display: flex;
// 		// justify-content: space-around;
// 		// align-content: center;
// 	}

// 	p.info {
// 		font-size: 1.2rem;
// 	}
	
// 	.movieInfo-header {
// 		font-size: 1.5rem;
// 	}

// 	.container {
// 		width: 100%;
// 		font-size: 1.5rem;
// 		height: 100%;
// 		text-align: center;
		
// 	}
	
// 	.movieInfo-image {
// 		width: 200px;
// 		// padding-top: 1rem;
// 		margin-top: 1rem;
// 		height: auto;
// 	}

// }


.grayStars {
	position: relative;
	display: inline-block;
	width: 5rem;
	height: 100%;
	overflow: hidden;
}


.fa-star {
	font-size: 5rem;
}

.full {
  color: #f8ce0b;
}

.rating-star {
  position: relative;
  display:inline-block;
}

.rate {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

