
.movieInfo-container {
	height: 100vh;
}

.movieInfo {
	margin: 3rem;
}

.row-info {
	padding-top: 2rem;
}

.containerInfo {
	border-radius: 0.5rem;
	max-width: 50%;
	max-height: 51.3rem;
	vertical-align: middle;
	box-shadow: 0.3rem 0.3rem 10rem 0.5rem black;
}

.info {
	font-size: 1.7rem;
	font-family: Raleway;
	font-weight: 300;
	margin-bottom: 3rem;
	color: white;

}

.infoTitle {
	margin-bottom: 0.5rem;
	color: #00FC87
}

// .row {
// 	height: 100%;
// }

.developer {
	z-index: 99;
	position: relative;
	color: white;
	float: bottom;
	margin: 0 auto;
	text-align: center;

	&--text  {
		font-size: 2rem;
		color: gray;
		font-size: 1.3rem;
		font-family: "Roboto Condensed", Sans-serif;
		font-weight: 300;
		text-shadow: 1px 1px 1px #000;

	}

	&--svgs {
		padding: 1rem;

		a {
			.svg {
				padding: 1rem;
				fill: #00FC87;
			}
		}
		
	}
}


.container h1 {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: 5rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
	color: white;
}

.backdrop {
	position: absolute;
	height: 100vh;
	width: 100%;
	background-size: 100%;
	background-position: fixed;
	background-image:
	 linear-gradient(
		 rgba(0,0,0,.80) 15%,
		 rgba(0,0,0,.1) 40%,
		 #000 90%
	);

	&--movieBackground {
		position: relative;
		display: inline-block;
		z-index: -2;
		width: 100%;
		height: 99vh;
		max-width: 100%;
		max-height: 100vh;
		margin: auto;

	}
}

img .backdrop--movieBackground {
		background-image: linear-gradient(
		to right bottom,
			rgba(0,0,0, 0.85),
			rgba(0,0,0, 0.2));
}


.containerInfo {
	margin-top: 5rem;
	position: relative;
	background-color: #0B0C10;
	opacity: 0.9;
	width: 75%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 6rem auto;

	&--picture img {
		border-radius: 0.2rem;

		
	}
}


 
.container {
	font-size: 2rem;
}
 
.goback {
	z-index: 10;
}

.goback {
	display: flex;
	justify-content: flex-end;
}

.exit {
	z-index: 10;
	padding: 1rem;
}

.exit-svg {
	cursor: pointer;
	fill: #fff;
	z-index: 10;
}

.discoverbtn {
	padding-top: 1.3rem;
	fill: #00FC87;
	cursor: pointer;
}

.icon-picture {
	width: 4rem;
	// height: auto;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.icon-picture:hover {
	animation: shake 0.6s infinite;
}
@keyframes shake {
	0%{
		transform: translate(0rem,0rem) rotate(0deg);
	}
	25%{
		transform: translate(0.1rem,0.1rem) rotate(1deg);
	}
	50%{
		transform: translate(-0.1rem,-0.1rem) rotate(-1deg);
	}
	75%{
		transform: translate(0.2rem,-0.1rem) rotate(2deg);
	}
	100%{
		transform: translate(-0.1rem,0.1rem) rotate(-1deg);
	}
}

.btn-genre {
	border: none;
	padding: 0.5rem;
	margin: 0rem;
	cursor: pointer;
}

// .btn-genre:hover {
// 	animation: shake 0.6s infinite;
// }
// @keyframes shake {
// 	0%{
// 		transform: translate(0rem,0rem) rotate(0deg);
// 	}
// 	25%{
// 		transform: translate(0.1rem,0.1rem) rotate(1deg);
// 	}
// 	50%{
// 		transform: translate(-0.1rem,-0.1rem) rotate(-1deg);
// 	}
// 	75%{
// 		transform: translate(0.2rem,-0.1rem) rotate(2deg);
// 	}
// 	100%{
// 		transform: translate(-0.1rem,0.1rem) rotate(-1deg);
// 	}
// }

.btn-genre:focus {
	outline: none;
} 