@media only screen and (max-width: 2230px) {

	.containerInfo {
		width: 70%;
		height: 75.4rem;
	}

	p.info {
		font-size: 1.6rem;
	}

	.container {
		width: 100%;
		font-size: 2rem;
	}

	
	h1.movieInfo-header {
		font-size: 4rem;
	}

	.movieInfo {
		width: 80%;
	}

	.drop-down {
		display: none;
	}

	.dropdown {
		display: none;
	}

}

@media only screen and (max-width: 1900px) {

	.containerInfo {
		width: 100%;
	}

	p.info {
		font-size: 1.5rem;
	}

	h1.movieInfo-header {
		font-size: 3rem;
	}

}



@media only screen and (max-width: 1600px) {

	.containerInfo {
		width: 100%;
		max-width: 80%;
		max-height: 61.3rem;
	}

	p.info {
		font-size: 1.4rem;
	}

	.movieInfo-image {
		width: 40rem;
		margin-top: 1rem;
		height: auto;
	}

	.misc-details {
		margin: 1rem 2rem 2rem 2rem;
	}

}


@media only screen and (max-width: 1230px) {

	.containerInfo {
		width: 100%;
		max-width: 80%;
		max-height: 100%;
	}

	h1.movieInfo-header {
		font-size: 2.5rem;
	}


	.movieInfo-image {
		width: 35rem;
		height: auto;
	}


}

@media only screen and (max-width: 1023px) {



}


@media only screen and (max-width: 950px) {

	.row-info {
		max-height: 80rem;
	}

	.containerInfo {
		font-size: 10px;
		max-width: 70%;
		height: 90%;
		margin-top: 2rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	p.info {
		font-size: 1.3rem;
	}
	
	.movieInfo-header {
		font-size: 1rem;
	}

	.container {
		// text-align: center;
		
	}
	
	.no-Image img {
		width: 100%;
	}

	.movieInfo-image {
		width: 25rem;
	}

}


@media only screen and (max-width: 700px) {

	.discover {
		display: none;
	}
	.drop-down {
		display: unset;
	}

	.dropdown {
		display: unset;
	}
	
}



@media only screen and (max-width: 650px) {
	.movieInfo-image {
		width: 20rem;
	}


	.searchForm {
		padding-top: 8rem;
	}

	
}

@media only screen and (max-width: 570px) {


	.containerInfo {
		max-width: 80%;
	}

}


@media only screen and (max-width: 480px) {


}


@media only screen and (max-width: 350px) {

	.containerInfo {
		max-width: 120%;
	}
	.movieInfo {
		padding: 2rem;
	}	

	.fa-star {
		font-size: 2rem;
	}

	.misc {
		padding: 0.8rem;
	}

}

@media screen and (max-width: 700px) {
	 html,body {
		 min-width:20rem
		}
}

